body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    100deg,
    #ed7f61,
    #d66a62,
    #ed6187,
    #e38d5d,
    #e35dc4
  );
  background-size: 300%, 300%;
  background-repeat: repeat;
  animation: colors 7s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 50%;
  }
}
